.custom-navbar {
    border-bottom: 15px solid #81b71a;
    border-left: 5px solid #81b71a;
    border-right: 5px solid #81b71a;
    min-height: 200px;
}

.custom-navbar .container-fluid {
    height: 200px;
    align-items: center;
}

.navbar-brand {
    text-decoration: underline !important;
    text-decoration-color: #81b71a !important;
    font-size: 40px !important;
}

.navbar-nav .nav-link,
.navbar-brand {
    font-family: sans-serif;
}

.btn-green {
    background-color: #81b71a !important;
}

.footer {
    position: fixed;
    width: 100%;
    color: white;
    background-color: rgb(15, 15, 15);
    bottom: 0;
    border-top: 7px solid #81b71a;
    text-align: center;
    z-index: 1001;
}

.link {
    color: #81b71a;
}

.box {
    border: 5px solid black;
}

.text {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    line-height: 1.6;
    max-width: 800px;
    font-family: sans-serif;
}

.center {
    text-align: center;
}

#config-button {
    text-align: right !important;
    margin: 30px !important;
}

.floating-form {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    min-width: 33%;
    min-height: 33%;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 0.5rem;
    z-index: 1000;
    border: 2px solid #81b71a;
}

.options:hover {
    cursor: pointer;
}

.img-container {
    width: 250px;
    height: 250px;
    position: relative;
    display: inline-block;
}

.img-answer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 5;
}

.img-check {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 30%;
    height: 30%;
    left: auto;
    z-index: 10;
}

.gamemodes-options {
    border-style: groove;
    border-color: black;
    border-radius: 1px;
    background-color: gainsboro;

    max-width: 700px;
    margin: 5% auto 0 auto;
    padding: 70px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gamemodes-buttons .btn {
    text-align: center;
    background-color: #8BC34A;
    border-color: #8BC34A;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    padding: 7%;
}

.gamemodes-buttons .btn:hover:not(.disabled) {
    background-color: #7CB342;
    border-color: #7CB342;
}

#custom_game_button {
    text-align: center;
        background-color: #8BC34A;
        border-color: #8BC34A;
        color: white !important;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s ease, border-color 0.3s ease;
}