{% extends "layout.html" %}

{% block main %}
<div class="text">
    <h1>Icons:</h1>
    <a class="link" href="https://www.flaticon.com/free-icons/done" title="done icons">Done icons created by hqrloveq - Flaticon</a><br>
    <a class="link" href="https://www.flaticon.com/free-icons/cross" title="cross icons">Cross icons created by hqrloveq - Flaticon</a><br>
    <a class="link" href="https://icons8.com.br/icon/14736/usuário-de-gênero-neutro" title="cross icons">singleplayer button icon</a><br>
    <a class="link" href="https://icons8.com.br/icon/9542/grupos-de-usuários" title="cross icons">multiplayer button icon</a><br>
    <a class="link" href="https://icons8.com.br/icon/TNMFlPDNS18k/personalização-do-windows10" title="cross icons">custom game button icon</a><br>
</div>
{% endblock %}