{% extends "layout.html" %}

{% block main %}

<div class="d-flex justify-content-end m-3">
    <button type="button" id="config-button" class="btn btn-outline-dark fw-bold px-5 py-3 fs-5" onclick="openConfig();">
        <img src="/static/gear.svg" width="30" height="30">
        SETTINGS
    </button>
</div>

<div class="text-center" style="margin-top: 80px;">
    <h1>Gamemodes:</h1>
</div>

<div class="text-center" style="margin-top: 50px">
    <form action="/singleplayer" method="GET">
        <input type="submit" style="color: white;" class="btn btn-green fw-bold px-5 py-3 fs-5 me-4" href="/singleplayer" role="button" value="SINGLEPLAYER">
        <input type="submit" style="color: white;" class="btn btn-green disabled fw-bold px-5 py-3 fs-5 me-4" href="/gamemodes" role="button" value="MULTIPLAYER">
        <input type="submit" style="color: white;" class="btn btn-green disabled fw-bold px-5 py-3 fs-5" href="/gamemodes" role="button" value="CUSTOM">
    </form>
</div>

<div id="settings" class="floating-form shadow-lg">
    <div class="d-flex justify-content-end m-3">
        <button type="button" class="btn-close" aria-label="Close" onclick="closeConfig()"></button>
    </div>
    
    <h2 style="text-align: center;">SETTINGS</h3>
    <div style="margin-top: 10px;" class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked>
        <label class="form-check-label" for="switchCheckChecked">Safe mode</label>
    </div>
</div>

{% endblock %}