{% extends "layout.html" %}

{% block main %}
<div id="game-container" data-time="{{time}}" data-gamemode="{{gamemode}}">

    <div class="text-center">
        <h1 id="questions">???</h1>

        <div class="justify-content-center">
            <div>
                <audio controls id="song">
                    <source id="song_source" src="" type="audio/mpeg">
                </audio>
            </div>

            <div class="container my-4">

                <div class="d-flex flex-wrap justify-content-center align-items-center gap-4">
            
                    <div class="d-flex align-items-center gap-3">
                        <img src="/static/time.png" height="48" width="48" alt="Ícone de Relógio">
                        <h2 id="time" class="mb-0 fw-bold">{{time}}</h2>
                    </div>
            
                    <div class="text-center lh-1">
                        <p class="mb-1">Score: <span id="current_score" class="fw-bold">0</span></p>
                        <p class="mb-0">Top Score: <span id="biggest_score" class="fw-bold">{{bigger_score}}</span></p>
                    </div>
            
                </div>
                
            </div>

            <!--- TIME COUNTER
            <div class="d-flex justify-content-center">
                <div class="rounded border border-dark p-3 d-flex align-items-center justify-content-center gap-3">
                    <img src="/static/time.png" height="64" width="64">
                    <h2 id="time" class="mb-0">{{time}}</h2>
                </div>
            </div>
            -->
        </div>

        <script>
            const audio = document.getElementById("song");
            audio.volume = 0.15;
        </script>
    </div>

    <!-- MUSIC OPTIONS -->
    <div class="container">
        <div id="options" class="row justify-content-center g-5">


            <div class="col-12 col-md-6 col-lg-3">
                <div id="" class="option-button text-center">
                    <div class="img-container">
                        <img class="clickable rounded img-fluid d-inline-block me-2 shadow img-answer" src="" onclick="check_answer(this)">
                    </div>
                    <p class="mt-2 fw-bold"></p> 
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div id="" class="option-button text-center">
                    <div class="img-container">
                        <img class="clickable rounded img-fluid d-inline-block me-2 shadow img-answer" src="" onclick="check_answer(this)">
                    </div>
                    <p class="mt-2 fw-bold"></p> 
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div id="" class="option-button text-center">
                    <div class="img-container">
                        <img class="clickable rounded img-fluid d-inline-block me-2 shadow img-answer" src="" onclick="check_answer(this)">
                    </div>
                    <p class="mt-2 fw-bold"></p> 
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div id="" class="option-button text-center">
                    <div class="img-container">
                        <img class="clickable rounded img-fluid d-inline-block me-2 shadow img-answer" src="" onclick="check_answer(this)">
                    </div>
                    <p class="mt-2 fw-bold"></p> 
                </div>
            </div>


        </div>
    </div>

    <!-- SCORE 
    <div class="d-flex justify-content-center">
        <div class="rounded border border-dark p-3" style="max-width: 300px;">
            <p>Score: <span id="current_score">0</span></p>
            <p>Top score: <span id="biggest_score">{{bigger_score}}</span></p>
        </div>
    </div>
    -->

    <div id="endgame" class="floating-form shadow-lg">
    
        <h2 id="endgame_message" class="text-center"></h2><br><br>
    
        <div class="d-flex flex-column align-items-center gap-3 mb-3">
    
            <div class="w-75">
                <form action="/{{gamemode}}" method="POST">
                    <input type="hidden" name="url" value="{{url}}">
                    <input type="hidden" name="time" value="{{time}}">
                    <button id="play_again_button" type="submit" class="btn btn-green w-100 text-white">
                        PLAY AGAIN
                    </button>
                </form>
            </div>
    
            <div class="w-75">
                <form action="/gamemodes" method="get">
                    <button id="return_button" type="submit" class="btn btn-green w-100 text-white">
                        RETURN TO MENU
                    </button>
                </form>
            </div>
    
        </div>
    </div>
    <!-- ENDGAME FORM
    <div id="endgame" class="floating-form shadow-lg">
        <h2 id="endgame_message" style="text-align: center;"></h2><br><br>

        <div class="d-flex flex-column align-items-center justify-content-around gap-5 mb-3">

            <div class="d-flex flex-column text-center" style="width: 50%;">
                <form class="d-flex flex-column w-100" style="text-align: center;" action="/{{gamemode}}" method="post">
                    
                    <input type="hidden" id="url" name="url" value="{{url}}">
                    <input type="hidden" id="time" name="time" value="{{time}}">

                    <button id="play_again_button" type="submit" class="btn btn-green w-100" style="color: white;">
                        PLAY AGAIN
                    </button>
                </form>
            </div>

            <div class="d-flex flex-column text-center" style="width: 50%;">

                <form class="d-flex flex-column w-100" style="text-align: center;" action="/gamemodes" method="get">
                    <button id="return_button" type="submit" class="btn btn-green w-100" style="color: white;">
                        RETURN TO MENU
                    </button>
                </form>
        
            </div>
        </div>
    </div>
    -->

</div>
{% endblock %}