{% extends "layout.html" %}

{% block main %}
<div id="game-container" data-time="{{time}}" data-gamemode="{{gamemode}}">

    <div class="text-center">
        <h1 id="questions">???</h1>

        <div class="justify-content-center">

            <audio id="song">
                <source id="song_source" src="" type="audio/mpeg">
            </audio>
            <audio id="right_answer_sound" src="/static/right_answer.mp3" volume="0.5"></audio>
            <audio id="wrong_answer_sound" src="/static/wrong_answer.mp3" volume="0.5"></audio>

            <div class="custom-audio-player">
                <button id="play-pause-btn" class="player-button">▶</button>
                <span id="current-time-display" class="time-display">0:00</span>
                <input type="range" id="seek-bar" class="seek-bar" value="0" step="1">
                <span id="duration-display" class="time-display">0:00</span>

                <div class="volume-container d-flex align-items-center">
                    <img src="/static/sound.png" alt="Volume" height="24" width="24" /> <input type="range" id="volume-bar" class="volume-bar" min="0" max="100" value="15">
                </div>
            </div>

            <div class="container my-4">

                <div class="d-flex flex-wrap justify-content-center align-items-center gap-4">
            
                    <div class="d-flex align-items-center gap-3">
                        <img src="/static/time.png" height="48" width="48" alt="Ícone de Relógio">
                        <h2 id="time" class="mb-0 fw-bold">{{time}}</h2>
                    </div>
            
                    <div class="text-center lh-1">
                        <p class="mb-1">Score: <span id="current_score" class="fw-bold">0</span></p>
                        <p class="mb-0">Top Score: <span id="biggest_score" class="fw-bold">{{bigger_score}}</span></p>
                    </div>
            
                </div>
                
            </div>

        </div>

    </div>

    <!-- MUSIC OPTIONS -->
    <div class="container">
        <div id="options" class="row justify-content-center g-5">


            <div class="col-12 col-md-6 col-lg-3">
                <div id="" class="option-button text-center">
                    <div class="img-container">
                        <img class="clickable rounded img-fluid d-inline-block me-2 shadow img-answer" src="" onclick="check_answer(this)">
                    </div>
                    <p class="mt-2 fw-bold"></p> 
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div id="" class="option-button text-center">
                    <div class="img-container">
                        <img class="clickable rounded img-fluid d-inline-block me-2 shadow img-answer" src="" onclick="check_answer(this)">
                    </div>
                    <p class="mt-2 fw-bold"></p> 
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div id="" class="option-button text-center">
                    <div class="img-container">
                        <img class="clickable rounded img-fluid d-inline-block me-2 shadow img-answer" src="" onclick="check_answer(this)">
                    </div>
                    <p class="mt-2 fw-bold"></p> 
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div id="" class="option-button text-center">
                    <div class="img-container">
                        <img class="clickable rounded img-fluid d-inline-block me-2 shadow img-answer" src="" onclick="check_answer(this)">
                    </div>
                    <p class="mt-2 fw-bold"></p> 
                </div>
            </div>


        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-warning text-center mx-auto my-3" style="max-width: 800px;" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div id="endgame" class="floating-form shadow-lg">
    
        <h2 id="endgame_message" class="text-center"></h2><br><br>
    
        <div class="d-flex flex-column align-items-center gap-3 mb-3">
    
            <div class="w-75">
                <form action="/{{gamemode}}" method="POST">
                    <input type="hidden" name="url" value="{{url}}">
                    <input type="hidden" name="time" value="{{time}}">
                    <button id="play_again_button" type="submit" class="btn btn-green w-100 text-white">
                        PLAY AGAIN
                    </button>
                </form>
            </div>
    
            <div class="w-75">
                <form action="/gamemodes" method="get">
                    <button id="return_button" type="submit" class="btn btn-green w-100 text-white">
                        RETURN TO MENU
                    </button>
                </form>
            </div>
    
        </div>
    </div>

</div>
{% endblock %}