{% extends "layout.html" %}

{% block main %}
<!--
    <div class="text-center" style="margin-top: 100px;">
        <h1>The game:</h1>
        <blockquote class="blockquote">
            <p>This game consists of correctly guessing which song was played.</p>
            <p> If it's your first time playing, it is highly recommended that you read the "<a class="link" href="/howthegameworks">How the Game Works</a>" section, where the game is explained in more detail.</p>
            <p>If it's not your first time, click on "<a class="link" href="/gamemodes">Gamemodes</a>" or "<a class="link" href="/gamemodes">play</a>" to go to the section where you can choose the game mode you want to play. Enjoy the game! :)</p>
        </blockquote>

        <a style="color: white; margin-top: 50px;" class="btn btn-green fw-bold px-5 py-3 fs-5" href="/gamemodes" role="button">GAMEMODES</a>
    </div>
-->

<div class="text" style="margin-top: 100px;">
    <h1 class="center">The game:</h1>
    <blockquote class="blockquote" style="text-align: justify;">
        <p>
            This game consists of correctly guessing which song was played.
            If it's your first time playing, it is highly recommended that you read the "<a class="link" href="/howthegameworks">How the Game Works</a>" section, where the game is explained in more detail.
            If it's not your first time, click on "<a class="link" href="/gamemodes">Gamemodes</a>" or "<a class="link" href="/gamemodes">play</a>" to go to the section where you can choose the game mode you want to play. Enjoy the game! :)
        </p>
    </blockquote>
</div>

<div class="text-center">
    <a style="color: white; margin-top: 50px;" class="btn btn-green fw-bold px-5 py-3 fs-5" href="/gamemodes" role="button">GAMEMODES</a>
</div>

{% endblock %}