{% extends "layout.html" %}

{% block main %}

<div class="text">
    <h1 class="center">Rules:</h1>
    <blockquote class="blockquote" style="text-align: justify;">
        <p>The rules of the game are simple: one song will be randomly selected from the Deezer playlist (the base playlist is <i>Top 50 - Global</i>). Your job is to guess which song it was from a selection of four options. For each correct answer, your score will increase. If you choose the wrong one, the game is over. The same song will never appear twice in a row.</p>
    </blockquote>
    <h1 class="center">Future changes:</h1>
    <blockquote class="blockquote" style="text-align: justify;">
        <p>Currently, this website offers only one game mode (singleplayer), but I have future plans to implement other modes, such as multiplayer — where multiple players compete against each other — and a custom mode, where the host can choose a Spotify playlist for the game (following certain rules) and decide whether to play in singleplayer or multiplayer mode.</p>
    </blockquote>
</div>

{% endblock %}